* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #F7F7F7;
    flex: 1; /* chiếm không gian còn lại giữa header và footer */
    display: flex;
    flex-direction: column;
}
/* *************HEADER*********** */
.header {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .home {
    display: flex;
    align-items: center;
}

.header .home a{
    text-decoration: none;
    color: #343a40;
}

.header .user {
    display: flex;
    align-items: center;
    color: #0F6CBF;
    position: relative;
    height: 40px;
}

.header .user:hover {
    cursor: pointer;
    color: #094478;
}

.header .user span {
    margin-right: 10px; 
}

.header .user i {
    margin-right: 10px;
}

.header .user a{
    text-decoration: none;
    color: #0F6CBF;
    margin-right: 10px; 
    size: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; 
    right: 0; 
    background-color: #FFFFFF;
    width: 184px;
    height:44px;
    border: 1px solid #D9D9D9;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #0F6CBF;
    color: #FFFFFF;
}

.show {
    display: block;
}

/* ***********************CONTENT************************** */
.tag {
    height: 120px;
    display: flex;          
    flex-direction: column;  
    justify-content: center; 
    background-color: #FFFFFF;
    margin: 20px;            
    padding: 20px;           
    border: 1px solid #DFDFDF; 
}

.tag h2 {
    margin-bottom: 15px;
    color: #0C4DA2;
}

.tag h1 {
    margin-bottom: 15px;
    color: #8B0015;
}

/* Hiển thị danh mục quản lý */

.manage {
    width: 1275px;  
    min-height: 160px;
    flex-grow: 1;  
    background-color: #FFFFFF;
    margin: 20px 20px;
    padding: 20px;
    border: 1px solid #DFDFDF;
}

.manage p {
    font-size: 30px;
}

.manage ul {
    list-style: none;
    padding: 40px 0; 
    margin: 0; 
}

.manage ul li {
    padding-top: 10px;
}

.manage ul li a {
    text-decoration: none;
    font-size: 30px;
    color: #0F6CBF;
    cursor: pointer;
}

.manage ul li a:hover {
    text-decoration: underline;
    color: #0C4DA2;
}

/* Hiển thị bảng CRUD */

.crud{
    min-height: 120px;
    display: flex; 
    flex-grow: 1;    
    border: 1px solid #DFDFDF;       
    flex-direction: column;  
    background-color: #FFFFFF;
    margin: 10px 20px;            
    padding: 20px;           
}

.button-group{
    display: flex;
    margin: 20px 0 10px;
    gap: 10px;
}

.crud #add-button {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #0F6CBF; 
    text-decoration: none; 
    border: 2px solid #0F6CBF;
    cursor: pointer; 
}

.crud #add-button:hover {
    background-color: #0F6CBF;
    color: #fff;
}

.upload-form {
    display: flex;
    align-items: center;
}

.custom-file-upload {
    display: inline-block;
    padding: 8px 12px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 14px;
}

.custom-file-upload:hover {
    background-color: #e0e0e0;
}

#file-upload {
    display: none;
}

#import-button {
    background-color: #0F6CBF;
    color: white;
    border: 1px solid #0F6CBF;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
}

#import-button:hover {
    background-color: #094478;
}

#export-button {
    background-color: #FFFFFF;
    color: #0F6CBF;
    border: 2px solid #0F6CBF;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    gap: 5px;
    display: flex;
    align-items: center;
}

#export-button:hover {
    background-color: #0F6CBF;
    color: white;
}

.crud-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
    border: 1px solid #EEEEEE;
}

.crud-table tr td {
    border: 1px solid #EEEEEE;
}

.crud-table th, .crud-table td {
    border: 1px solid #DDDDDD;
    padding: 10px;
    text-align: center;
}

.crud-table thead th {
    background-color: #0F6CBF;
    color: white;
}

.crud-table tbody tr:hover {
    background-color: #dadada;
}

.crud-table tbody td:hover {
    background-color: #ececec;
}

.crud-table #update-icon a{
    color: #35A7E8;
    cursor: pointer;
}

.crud-table #delete-icon a {
    color: red;
    cursor: pointer;
}

.crud .pagination{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    height: 100px; 
    margin-top: auto;
    gap: 10px;
}

.crud .pagination a{
    text-decoration: none;
    background-color: #0F6CBF;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #FFFFFF;
    border-radius: 5px;
}

.crud .pagination a:hover{
    background-color: #0C4DA2;
}

.selected-box{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    height: 100px; 
    margin-top: auto;
    gap: 100px;
}

.selected-box i{
    color: red;
    cursor: pointer;
}

/* *******************FOOTER*********************** */
.footer {
    background-color: #343a40;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100px; 
    margin-top: auto;
    width: 100%;
}

.footer p {
    margin: 5px 0; 
}

.footer a {
    color: white;
}
