* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #F7F7F7;
    flex: 1; /* chiếm không gian còn lại giữa header và footer */
    display: flex;
    flex-direction: column;
    padding: 20px;
}
/* *************HEADER*********** */
.header {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .home {
    display: flex;
    align-items: center;
}

.header .home a{
    text-decoration: none;
    color: #343a40;
}

.header .user a {
    display: flex;
    align-items: center;
    color: #0F6CBF;
    position: relative;
    height: 40px;
    margin-right: 10px; 
    text-decoration: none;
}

.header .user a:hover {
    cursor: pointer;
    color: #094478;
}

.header .user {
    display: flex;
    align-items: center;
    color: #0F6CBF;
    position: relative;
    height: 40px;
    margin-right: 10px; 
    text-decoration: none;
}

.header .user :hover {
    cursor: pointer;
    color: #094478;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; 
    right: 0; 
    background-color: #FFFFFF;
    width: 184px;
    height:44px;
    border: 1px solid #D9D9D9;
    z-index: 1;
}

.dropdown-content:hover {
    background-color: #0F6CBF;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: #FFFFFF;
}

.show {
    display: block;
}

/* ***********************CONTENT************************** */
.register {
    width: 100%;
    max-width: 1275px;
    flex-grow: 1;
    background-color: #FFFFFF;
    padding: 20px;
    border: 2px solid #EEEEEE; 
}

.register h2 {
    margin-bottom: 15px;
    color: #343a40;
}

.register h3 {
    padding: 20px 0 10px 0;
    color: #343a40;
}

.register button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 70px;
    height: 40px;
    background-color: #0F6CBF;
    color: #fff;
    border: 2px solid #0F6CBF;
    cursor: pointer;
}

.register button:hover{
    background-color: #FFFFFF;
    color: #0F6CBF;
}

.course-filter{
    width: 293px;
    height: 36px;
    border: 2px solid;
    border-color: #6A737B;
    outline: none;
}

.schedule {
    width: 100%;
    max-width: 1275px; 
    min-height: 160px;  
    background-color: #FFFFFF;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #EEEEEE;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
}

.schedule-table th, .schedule-table td {
    border: 1px solid #DDDDDD;
    padding: 10px;
    text-align: center;
}

.schedule-table thead th {
    background-color: #0F6CBF;
    color: white;
}

.schedule-table tbody tr:hover {
    background-color: #dadada;
}

.schedule-table tbody td:hover {
    background-color: #ececec;
}

.schedule-table #delete-icon {
    color: red;
    cursor: pointer;
}

.schedule .export-schedule-button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #FFFFFF;
    color: #0F6CBF;
    border: 2px solid #0F6CBF;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.schedule .export-schedule-button:hover {
    background-color: #0F6CBF;
    color: #FFFFFF;
}

.schedule .export-schedule-button i {
    font-size: 16px;
}

/* *******************FOOTER*********************** */
.footer {
    background-color: #343a40;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin-top: auto;
    width: 100%;
}

.footer a {
    color: white;
}
